@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

a {
  color: #66cc99;
  text-decoration: none;
}
ul li{
  list-style-type: none;
}

.clearfix::after, .clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.bold {
  color: #4a4e51;
  font-weight: 400;
}

.resume-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
}


.profile {
  background: #fff;
  position: fixed;
  /* padding-top: 160px !important; */
  width: 40%;
  float: left;
  color: #9099a0;
}
@media (max-width: 850px) {
  .profile {
    position: unset;
    width: 100%;

  }
}
.profile .name-wrapper {
  float: left;
  width: 60%;
}
.profile h1 {
  font-size: 40px;
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  color: #4a4e51;
  text-transform: uppercase;
  line-height: 1em;
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .profile h1 {
    padding-top: 20px;
  }
}
@media (max-width: 450px) {
  .profile h1 {
    font-size: 30px;
    padding-top: 20px;
  }
}
.profile li {
  margin-bottom: 10px;
}
.profile .picture-resume-wrapper {
  width: 40%;
  display: block;
  float: left;
}
@media (max-width: 1200px) {
  .profile .picture-resume-wrapper {
    width: 100%;
  }
}
.profile .picture-resume {
  width: 220px;
  height: 220px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0px;
  display: table;
  position: relative;
  vertical-align: middle;
}
.profile .picture-resume span {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
.profile .picture-resume img {
  border-radius: 50%;
  width: 130px;
}
@media (max-width: 1500px) {
  .profile .picture-resume img {
    width: 80px;
  }
}
@media (max-width: 1200px) {
  .profile .picture-resume img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 1500px) {
  .profile .picture-resume {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 1200px) {
  .profile .picture-resume {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 450px) {
  .profile .picture-resume {
    width: 180px;
    height: 180px;
  }
}
.profile .contact-info {
  margin-top: 0px;
  font-weight: 300;
}


.profile .list-titles {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 40%;
  color: #4a4e51;
}
.profile .list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
}
.profile .contact-presentation {
  text-align: left;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .profile .contact-presentation {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media (max-width: 850px) {
  .profile .contact-presentation {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.profile svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.profile .st0, .profile .st1 {
  fill: #66cc99;
}

.detail{
  background: #3d3e42;
  width: 60%;
  float: right;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 30%;
  min-height: 30vh;
}

@media (max-width: 850px) {
  .detail {
    width: 100%;
  }
}

.education{
  background: #3d3e42;
  width: 100%;
  float: left;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 30%;
  min-height: 30vh;
}

@media (max-width: 850px) {
  .education {
    width: 100%;
  }
}

.education h3.education-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}
.education .education-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 50px;
}
@media (max-width: 450px) {
  .education .education-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.education .time-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .education .time-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}



.experience {
  background: #3d3e42;
  float: left;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}

@media (max-width: 850px) {
  .experience {
    width: 100%;
  }
}
.experience h3.experience-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}
.experience .company-wrapper {
  width: 40%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .experience .company-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.experience .job-wrapper {
  width: 60%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .experience .job-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}

.experience .list-content li{
  list-style-type: disc;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: 30px;
}

.education .education-title ,.experience .experience-title{
  color: white;
  margin-bottom: 15px;
}

.section-padding {
  padding: 60px 60px 40px 40px;
}
@media (max-width: 850px) {
  .section-padding {
    padding: 80px 10% 40px 10%;
  }
}
@media (max-width: 450px) {
  .section-padding {
    padding: 40px 5% 20px 5%;
  }
}

.section-wrapper {
  width: 50%;
  float: left;
  text-align: left;
  color: #9099a0;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 850px) {
  .section-wrapper {
    width: 100%;
  }
}

ul{
  padding-left: unset;
}


.section-wrapper:nth-child(3) {
  padding-right: 10%;
}
 h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}
.section-wrapper .skill-professional-percentage, .section-wrapper .skill-personal-percentage {
  margin-bottom: 10px;
  position: relative;
}
.section-wrapper ul{
  padding-right: 10%;

}
.section-wrapper .skill-professional-percentage::after,.section-wrapper .skill-personal-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #4a4e51;
  display: block;
  margin-top: 3px;
}
.section-wrapper .skill-professional-percentage::before,.section-wrapper .skill-personal-percentage::before {
  content: "";
  height: 6px;
  background: #66cc99;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}
.section-wrapper .skill-professional-percentage:nth-child(1)::before {
  width: 80%;
          animation: skill-professional_1 0.6s ease;
}
.section-wrapper .skill-professional-percentage:nth-child(2)::before {
  width: 90%;
          animation: skill-professional_2 0.6s ease;
}
.section-wrapper .skill-professional-percentage:nth-child(3)::before {
  width: 50%;
          animation: skill-professional_3 0.6s ease;
}
.section-wrapper .skill-professional-percentage:nth-child(4)::before {
  width: 60%;
          animation: skill-professional_4 0.6s ease;
}
.section-wrapper .skill-professional-percentage:nth-child(5)::before {
  width: 70%;
          animation: skill-professional_5 0.6s ease;
}
.section-wrapper .skill-professional-percentage:nth-child(6)::before {
  width: 70%;
          animation: skill-professional_6 0.6s ease;
}
.section-wrapper .skill-professional-percentage:nth-child(7)::before {
  width: 70%;
          animation: skill-professional_6 0.6s ease;
}

@keyframes skill-professional_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
  
@keyframes skill-professional_2 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}

@keyframes skill-professional_3 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes skill-professional_4 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes skill-professional_5 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes skill-professional_6 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes skill-professional_7 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.section-wrapper .skill-personal-percentage:nth-child(1)::before {
  width: 80%;
          animation: skill-personal_1 0.6s ease;
}
.section-wrapper .skill-personal-percentage:nth-child(2)::before {
  width: 75%;
          animation: skill-personal_2 0.6s ease;
}
.section-wrapper .skill-personal-percentage:nth-child(3)::before {
  width: 70%;
          animation: skill-personal_3 0.6s ease;
}
.section-wrapper .skill-personal-percentage:nth-child(4)::before {
  width: 68%;
          animation: skill-personal_4 0.6s ease;
}
.section-wrapper .skill-personal-percentage:nth-child(5)::before {
  width: 75%;
          animation: skill-personal_5 0.6s ease;
}
.section-wrapper .skill-personal-percentage:nth-child(6)::before {
  width: 80%;
          animation: skill-personal_6 0.6s ease;
}
.section-wrapper .skill-personal-percentage:nth-child(7)::before {
  width: 70%;
          animation: skill-personal_6 0.6s ease;
}

@keyframes skill-personal_1 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
  
@keyframes skill-personal_2 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@keyframes skill-personal_3 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

@keyframes skill-personal_4 {
  from {
    width: 0%;
  }
  to {
    width: 68%;
  }
}

@keyframes skill-personal_5 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

@keyframes skill-personal_6 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

@keyframes skill-personal_7 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}


.icon{
  width: 66px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: -2px 12px 12px 12px;
  vertical-align: middle;
}
.white-icon{
  width: 66px;
  padding: 10px;
  vertical-align: middle;
}